.green_bg {
  background: #4ad97c;
  color: #f2f2f2;
  font-weight: bold;
}
.window {
  background-image: url("https://f-code.tech/static/media/background.5d17ffe36988d38fdec1.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #4ad97c;
  font-weight: bold;
}
.white_bg {
  background: #f6f5f4;
}

.shadow {
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
}

.text {
  font-weight: bold;
}
.round_corner {
  border-radius: 13px;
  border-style: none;
}
.green_text {
  color: #4ad97c;
  font-weight: bold;
}
#sign_in_label {
  font-size: xx-large;
  border-radius: 13px 0px 0px 13px;
}
#sign_up_label {
  font-size: xx-large;
  border-radius: 0px 13px 13px 0px;
}
#round_corner {
  border-radius: 13px;
  border-style: none;
}

#sign_in_check,
#sign_up_check {
  font-size: smaller;
}
